@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h1>
        Hello Dino baby
    </h1>
</div>
<div>
    <h1>
        hieutrinhvan
    </h1>
    
    

</div>
